<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.afyagro">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.stories.AddStory" />
        <activity
            android:name=".ui.stories.StoryViewer"
            android:theme="@style/StoryViewerTheme" />
        <activity android:name=".ui.home_.AddAProduct"/>
        <activity android:name=".ui.home_.MyProduct" />
        <activity android:name=".ui.home_.MainPharmerActivity" />
        <activity android:name=".ui.home.details.FarmItemDetails" />
        <activity android:name=".ui.map.DeliveryMapActivity" />
        <activity android:name=".ui.first.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.first.LoginScreen" />
        <activity android:name=".ui.first.SignupScreen" />
        <activity android:name=".ui.home.MainActivity" />
    </application>

</manifest>